body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cinnamon);
  color: var(--beige);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  display: flex;
  text-align: center;
  align-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  --cinnamon: rgb(124, 95, 41);
  --sage: rgb(72, 102, 72);
  --beige: beige;
  background-color: var(--sage);
}

.portfolio-app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  align-content: center;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 20px;
  top: 0px;
  width: 100vw;
  height: 160px;
  text-align: center;
  background-color: var(--sage);
  margin: 0px;
}

h1 {
  margin: 0;
  font-size: 40px;
}

h2 {
  margin: 20px;
}

h3 {
  margin: 20px;
  margin-top: 50px;
  font-size: 30px;
}

h4 {
  height: 25px;
  width: auto;
  float: left;
  margin-left: 10px;
  margin: 0;
  color: var(--beige);
  text-decoration: none;
  text-decoration: underline;
}

.nav {
  margin: 0;
  position: relative;
  bottom: 0;
  border-bottom: 4px solid var(--beige);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  margin-top: 0px;

  background-color: var(--sage);
}

ul {
  margin: 0px;
  padding: 0px;
}

.nav-item {
  display: inline-block;
  list-style-type: none;
  margin: 0px;
  padding: 10px;
}

.body-content{
  background-color: var(--cinnamon);
  width: 100vw;
  height: min-content;
}

.text-left {
  text-align: left;
  padding-left:15px;
  padding-bottom: 160px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

a:hover {
  cursor: pointer;
  transform: scale(1);
  color: black;
}

img {
  width: 200px;
  float: right;
  margin: 60px;
  border-radius: 40px;
}


.active-nav {
  border: 4px solid var(--beige);
  border-radius: 10px 10px 0 0;
  border-bottom: 4px solid var(--cinnamon);
  padding: 10px;
  padding-top: 8px;
  background-color: var(--cinnamon);
}

.portfolio-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}

.portfolio-item {
  margin: 5px;
  margin-top: 15px;
  width: 340px;
  height: 320px;
  border: 4px solid var(--beige);
  border-radius: 10px;
  background-color: var(--sage);

}

.portfolio-item-img {
  width: 100%;
  height: 60%;
  margin: 0px;
  padding:0;
  border-radius: 5px 5px 0px 0px;
}

.portfolio-item-text-area {
  border-top: 4px solid var(--beige);
  padding-top: 7px;
  padding-bottom:7px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.portfolio-item-desc {
  margin: 15px;
  margin-top: 0px;
  text-decoration: none;
  color: var(--beige);
}

.contact-form {
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 160px;
  gap:20px;
}

.form-label {
  margin: 10px;
  float: left;
  display: flex;
  flex-direction: column;
}

.form-box {
  margin: 10px;
  padding: 5px;
}

#message-box {
  width: 300px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  resize: vertical;
}

.btn {
  width: 90px;
  height: 40px;
  background-color: var(--sage);
  color: var(--beige);
  border:2px solid var(--beige);
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  color: black;
}

.resume-full{
  display: flex;
  flex-direction: column;
  
}

.resume-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  width: 80%;  
  padding-left:10%;
 text-align: left;
}

.resume-contact-info{
  margin: 0;
}

.resume-border-top{
  border-top: 2px solid var(--beige)
}

.resume-section-header{
  margin:0px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top:10px;
}

.resume-job{
  float: none;
  margin-top: 50px;
}

.resume-list{
  text-decoration: none;
  padding-left: 40px;
}


.footer {
  border-top: 4px solid var(--beige);
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: var(--sage);
}

.footer-link {
  margin: 5px;
  padding: 5px;
  padding-bottom: 0;
  text-decoration: none;
  color: var(--beige);
}

@media screen and (min-width: 576px) {

  .nav-item {
    margin: 20px;
    margin-bottom: 0px;
  }

  .text-left {
    font-size: 20px;
  }

  .resume-list{
    text-decoration: none;
    margin-left: 50px;
  }

  img {
    margin: 20px;
  }
}

@media screen and (min-width: 768px) {

  .nav-item {
    font-size: 25px;
  }

  .text-left {
    font-size: 20px;
  }

  img {
    width: 310px;
    margin-top: 0px;
    margin: 20px;
  }

  .portfolio-container {
    flex-direction: row;
    justify-content: center;
  }

  .portfolio-item {
    margin: 20px;
  }

  h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 35px;
    padding-top: 25px;
  }

  .text-left {
    font-size: 30px;
  }

  .resume-body {
    width: 60%;  
    padding-left:20%;
  }
}

@media screen and (max-width: 433px) {

  img{
    width:150px;
    margin: 10px;
  }
  .portfolio-item {
    width: 280px;
  }

  .nav-item {
    font-size: 12px;
  }

  .text-left{
    font-size: 14px;
  }

  .portfolio-item-desc{
    font-size: 12px;
  }

}